.one-flat-fee-package-calculator {
	background: #ebebeb;
	padding: 20px;
	border-radius: 15px;
	max-width: 100%;
	margin: 25px auto;
}

.one-flat-fee-package-calculator h1 {
	color: #ffffff;
	background: #b48d41;
	padding: 12px;
	border-radius: 7px;
	font-size: 36px;
	text-align: center;
	margin: 0 0 20px;
}

.one-flat-fee-package-calculator p {
	font-size: 20px;
	line-height: 1.25em;
	padding: 0;
	margin: 0 0 20px;
	text-align: center;
}

.one-flat-fee-package-calculator form {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.one-flat-fee-package-calculator form label {
	text-align: left;
	float: left;
}

.one-flat-fee-package-calculator form input {
	border: 1px solid #e4e4e4;
	padding: 8px 15px;
	border-radius: 5px;
	background-color: #fff;
	margin-bottom: 0px;
	color: #666666;
	width: fill-available;
	width: -moz-available;
	width: -webkit-fill-available;
}

.one-flat-fee-package-calculator form select {
	border: 1px solid #e4e4e4;
	padding: 8px 15px;
	border-radius: 5px;
	background-color: #fff;
	margin-bottom: 0px;
	color: #666666;
	width: fill-available;
	width: -moz-available;
	width: -webkit-fill-available;
}

.one-flat-fee-package-calculator
	button.one-flat-fee-package-calculator-submit-button {
	background: #b48d41;
	border: 0;
	height: 50px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.3s ease all;
}

.one-flat-fee-package-calculator
	button.one-flat-fee-package-calculator-submit-button:is(
		:hover,
		:active,
		:focus
	) {
	background: #090d11;
	transition: 0.3s ease all;
}

.one-flat-fee-package-calculator
	.one-flat-fee-package-calculator-estimate:empty {
	display: none;
}

.one-flat-fee-package-calculator .one-flat-fee-package-calculator-estimate {
	margin-bottom: 20px;
}

.one-flat-fee-package-calculator-estimate table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 1rem;
}

.one-flat-fee-package-calculator-estimate th,
.one-flat-fee-package-calculator-estimate td {
	padding: 12px;
	border: 1px solid #ddd;
	font-family: Roboto, sans-serif;
}

.one-flat-fee-package-calculator-estimate th {
	background-color: #f4f4f4;
	text-align: left;
}

.one-flat-fee-package-calculator-estimate td.red {
	color: red;
}

.one-flat-fee-package-calculator-estimate td.green {
	color: green;
}

.one-flat-fee-package-calculator p.disclaimer {
	margin-top: 20px;
	font-size: 14px;
	text-align: left;
}
